<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href= "{{ url_for('static',filename='plot.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='UserManual.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='clous.css') }}">

  
     
    <title>Global yearly average tempreature</title>
</head>

<body >
    <!-- Create the top bar -->
    
<nav class="navbar navbar-default">


        
<div class="container-fluid">
    
  <!-- Brand and toggle get grouped for better mobile display -->
            
<div class="navbar-header">
                
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">

                
<span class="sr-only">Toggle navigation</span>
       

         <span class="icon-bar"></span>
        

        <span class="icon-bar"></span>
         

       <span class="icon-bar"></span>
             
   </button>
         

       <a class="navbar-brand" href="/Home">Home  <i class="fa fa-home"></i></a>
       

     </div>



            <!-- Collect the nav links, forms, and other content for toggling -->
      
      <div class="collapse navbar-collapse" id="navbar-collapse">
   
             <ul class="nav navbar-nav navbar-right">
             
<li class="dropdown">

  <button class="dropbtn">Prediction  <i class="fa fa-thermometer"></i></button>

  <div class="dropdown-content">

    <a href="/Prediction_Form">Countrywise Weather Prediction</a>

    <a href="/Global_Prediction">Global Weather Prediction</a>

  </div>
</li>

<li class="dropdown">

  <button class="dropbtn">Gases Prediction <i class="fa fa-soundcloud"></i></button>

  <div class="dropdown-content">

     <a href="/Carbon_Prediction">Carbon Prediction</a>

    <a href="/OzonePrediction">Ozone Prediction</a>

    <a href="/SO2_Prediction">SO2 Prediction</a>

    <a href="/NO2_Prediction">NO2 Prediction</a>

    <a href="/CO_Prediction">CO Prediction</a>
  </div>
</li>



<li class="dropdown">

  <button class="dropbtn" >Graphs<i class="fa fa-cube"></i></button>

  <div class="dropdown-content">

    <a href="/co2no2dynamicgraph">Graph 1</a>

    <a href="/ch4dynamicgraph">Graph 2</a>

  </div>
</li>
             
       <li class="dropdown">

  <button class="dropbtn" >Plots<i class="fa fa-globe"></i></button>

  <div class="dropdown-content">

    <a href="/Global_yearly_average_tempreature">Global yearly average tempreature</a>

    <a href="/Measurement">Measurement </a>

    <a href="/Per_month">Per Month</a>

    <a href="/Solar">Solar</a>

  </div>
</li>
 



<li class="dropdown">

  <button class="dropbtn" >Analysis<i class="fa fa-globe"></i></button>

  <div class="dropdown-content">

    <a href="/CO_Analysis">CO Analysis</a>

    <a href="/CO2_Analysis">CO2 Analysis</a>

    <a href="/NO2_Analysis">NO2 Analysis </a>

    <a href="/O3_Analysis">O3 Analysis</a>

    <a href="/SO2_Analysis">SO2 Analysis</a>

  </div>
</li>



                

<li class="dropdown">

  <button class="dropbtn">Documentation <i class="fa fa-fw fa-book"></i></button>

  <div class="dropdown-content">

     <a target="_blank" href="/UserManual">User Manual</a>

    <a target="_blank" href="/InputSources">Input Sources</a>

  </div>
</li>






        
<li>
                
    <button class="dropbtn" onclick="document.location='/Feedback'">Feedback<i class="fa fa-fw fa-envelope"></i> </button>
</li> 


                
    <!-- Insert Github Link Below -->
<li>
                
    <button class="dropbtn"  target="_blank" onclick="document.location='https://github.com/thechillyweather'">Github <i class="fa fa-github"></i></button>
</li>



                    
         
 </ul>


    
        </div>
  
      </div>
    
</nav>





<div id="background-wrap">
		<div class="x1">
			<div class="cloud"></div>
		</div>

		<div class="x2">
			<div class="cloud"></div>
		</div>

		<div class="x3">
			<div class="cloud"></div>
		</div>

		<div class="x4">
			<div class="cloud"></div>
		</div>

		<div class="x5">
			<div class="cloud"></div>
		</div>

</div>



    <div class = "container">
        <div class = "row">
            <div class="col-md-8"> <br>
                <h1>Global yearly average tempreature</h1>
                <div class="pull-left">
                    <img src="{{ url_for('static',filename='Global yearly average tempreature.jpg') }}" alt="Global yearly average tempreature"> 



			<h3> The above Graph Determines,</h3>
			
			<ul>
			<li>x-axis shows Yers from 1880 to 2020</li><br/>

			<li>y-axis showsTempreature in Dergee Celcius(&deg;C)</li><br/>

			<li>Green Line shows the Average Tempreature</li><br/>

			<li>sky-blue line shows the 10 year Average Tempreature</li><br/>
				
			</ul>
                </div>



<p></p>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<button class="btn" onclick="document.location='https://drive.google.com/drive/folders/1J8EK5Tp7jvDwHBn9boAL2hVEAcXdAGt-?usp=sharing'"><i class="fa fa-cloud-download"></i> Input Sources </button>
            </div>
            <div class="col-md-4 pad top"> <br>
                <h3>Observations</h3> <br>
                <div class="pull-right">
                   
						<b>
						<h3> Claim 1: The earth isn't actually getting warmer. Summer is hot and winter is cold. 
						Temperature changes are seasonal and nothing more.
						</h3>
						</b>

						<p>
						<b> 
							Analysis:
						</b>
						<p>
								<ul>
								<li>The global average temperature anomaly displays a steady increasing trend beginning around 1980. </li><br/>

								<li>The global average temperature anomaly in January of 1980 and 2018 (end of the dataset) is 0.26 &deg;C and 0.85 C, respectively.</li><br/> 
								
								<li>Therefore, the global average temperature anomaly increased by 0.0155 &deg;C per year over that span of 38 years. </li><br>

								<li>However, the temperature anomaly over the past 18 years (2000 to 2018) has been increasing at a rate of 0.0256 &deg;C per year, 
								indicating that the global average temperature anomaly is increasing at a non-linear rate.</li><br/>

								</ul>
						</p>


             </div>
        </div>
    </div>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</html>
